@using Composite.Core;
@using Orckestra.Tools.ConditionalContent.Services

@inherits RazorFunction


@functions {

    public override string FunctionDescription => "Shows the inner content if the conditions are met";

    public IComposerContext ComposerContext { get; set; }

    [FunctionParameter(Label = "Parameters", Help = "Content and conditions")]
    public string Parameters { get; set; }

    public override bool PreventFunctionOutputCaching => true;
}



<html xmlns="http://www.w3.org/1999/xhtml" xmlns:f="http://www.composite.net/ns/function/1.0">
<head>
</head>
<body>

@{
    var service = ServiceLocator.GetService<IConditionalContentService>();
    var result = service.GetContent(@Parameters);
}

@Html.Raw(result)

</body>
</html>